{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{{ event.name }}</h1>
<p>{% trans "Contact" %} <a href="{{ event.contact_email }}">{{ event.contact_email }}</a></p>

<p>{% trans "Thank you. Please prepare your credir/debit card in order to procead to make a payment on line. You will be charged" %} <strong>{{ request.session.to_pay }}€</strong>.</p>

{% if event.bank_details %}
<p>{% trans "You can also make payment making mony transfer on following account." %}</p>
<h3>{% trans "Bank details" %}<br/></h3>
{{ event.bank_details}}
{% endif %}

{% include "evreg/_payment_form.html" %}

{% endblock %}